@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
     --nav-color: #1995AD;
     --color-2: #A1D6E2;
     --COLOR-3: #F1F1F2;
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

h2 {
     color: #BE1E2d;
     text-align: center;
     font-family: "Roboto Slab", serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
     /* margin-top: 10px; */
}

table,
th,
td {
     border: 1px solid black;
     margin-left: 13px;
}

th,
td {
     border: 1px solid black;
     margin-left: 13px;
     padding: 0 5px;
}

table {
     margin: auto;
     background-color: white;
     /* margin-bottom: 50px; */
}

.tableheading {
     width: 80%;
     background-color: var(--color-2);
     margin: auto;
     margin-top: 20px;
     padding: 15px 0;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}

.TimeTableSec{
    
          /* height: auto; */
          width: 80%;
          background-color: var(--color-2);
          margin: auto;
          margin-top: 10px;
          border-radius: 20px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          /* padding-top: 20px;
          padding-bottom: 1px; */
          padding: 40px 0;
     
     
}